<div class="topPage">
    <ul class="col-md-11">
        <li>
            <h4>Cadastro de Case</h4>
        </li>
    </ul>
</div>


<section class="col-md-6 cadastro">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nome">Nome do Case: </label>
            <input type="text" name="nome" ng-model="job.name" class="form-control">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo do Case: </label>
            <select class="form-control" name="tipo" ng-model="job.category" >
                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição: </label>
            <textarea class="form-control" rows="5" ng-model="job.description" name="descricao"></textarea>
        </div>
        <div class="form-group">
            <label for="data">Data: </label>
            <datepicker date-format="dd/MM/yyyy">
                <div class="input-group">
                    <span class="input-group-addon" style="cursor: pointer">
                        <i class="fa fa-lg fa-calendar"></i>
                    </span>
                    <input ng-model="job.date_job" name="data" type="text" class="form-control">
                </div>
            </datepicker>
        </div>
        <div class="form-group tecnologias">
            <label for="case">Tecnologias: <a href="#/cadTecnologia" class="btn btn-success btn-xs">Novo</a> </label>
            <ul class="checkbox coluna1">
                <li>
                    <label ng-repeat="technology in technologies">
                        <input checklist-model="job.technologies" type="checkbox" checklist-value="technology.id" ng-change="selected(technology.id)"> {{technology.name}}
                    </label>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="imgDestaque">Imagem de Destaque: </label>
            <input type="file" name="image" file-model="fileImage" class="form-control">
        </div>
        <div class="pull-right">
            <a href="#/portfolio" class="btn btn-danger">Cancelar</a>
            <button class="btn btn-success" ng-click="save()">Salvar</button>
        </div>
    </form>
</section>
