<div class="topPage">
    <ul class="col-md-11">
        <li>
            <h4>Cadastro de Tegnologia</h4>
        </li>
    </ul>
</div>

<section class="col-md-6 tecnologia">
    <form method="post">
        <div class="form-group">
            <label for="nome">Nome da Tecnologia: </label>
            <input type="text" name="tecnologia" ng-model="tecnologia" class="form-control">
        </div>
        <div class="pull-right">
            <a href="#/portfolio" class="btn btn-danger">Cancelar</a>
            <button class="btn btn-success">Salvar</button>
        </div>
    </form>
</section>
