<div class="topPage">
    <ul class="col-md-11">
        <li>
            <h4>Lista de Cases</h4>
        </li>
    </ul>
</div>

<div class="clearfix"></div>

<div class="table-responsive col-md-9">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="case in cases">
                <td>{{case.nome}}</td>
                <td>{{case.tipo}}</td>
                <td>{{case.data | date : 'dd/MM/yyyy'}}</td>
                <td class="acoes">
                    <ul>
                        <li style="display:inline-block"><a ng-href="/portfolio/{{case._id}}" class="btn btn-warning">Editar</a></li>
                        <li style="display:inline-block"><button ng-click="remove(case)" class="btn btn-danger">Excluir</button></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="clearfix"></div>

<div class="col-md-9 cadPortf">
    <p>Deseja cadastrar um novo Case? <a href="#/cadPortfolio" class="btn btn-success">Cadastrar</a></p>
</div>
